{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <title>Logistics Company</title>
</head>
<body>
    <a href="{% url 'dashboard' %}"><h1>Logistics Company</h1></a>
    <div class="content">
        <div class="container left" id="left-container">
            <h2>Inventory</h2>
            <a href="{% url 'export-inventories' %}"><button>Export as CSV</button></a>
            <table>
                <tr class="thead">
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Per Value</th>
                    <th>Storage City</th>
                    <th>Weather</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                {% for inventory in inventories %}
                    <tr>
                        <td>{{inventory.name}}</td>
                        <td>{{inventory.quantity}}</td>
                        <td>${{inventory.per_value}}</td>
                        <td>{{inventory.storage_city}}</td>
                        <td>{{inventory.get_current_weather}}</td>
                        <td>
                            <a href="{% url 'load-instance' inventory.id %}">Edit</a>
                        </td>
                        <td>
                            <a href="{% url 'delete-inventory' inventory.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
        <div class="container right"  id="left-container">
            <h2>+ Inventory</h2>
            <form method="POST" id="inventory-form">
                {% csrf_token %}
                {{inventory_form.as_ul}}
                
                <input type="submit"/>
                <a href="{% url 'dashboard' %}"><button>clear form</button></a>
            </form>

           
        </div>
    </div>

</body>
</html>